<%= form_with(model: medicine, local: true) do |form| %>
  <% if medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
      <% medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :medicine_name %>
  </div>

  <div class="field">
    <%= form.label :detailed_name %>
    <%= form.text_field :detailed_name, id: :medicine_detailed_name %>
  </div>

  <div class="field">
    <%= form.label :quantity_per_package %>
    <%= form.number_field :quantity_per_package, id: :medicine_quantity_per_package %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :medicine_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
