<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Detailed name:</strong>
  <%= @medicine.detailed_name %>
</p>

<p>
  <strong>Quantity per package:</strong>
  <%= @medicine.quantity_per_package %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @medicine.notes %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
